<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Release_TelinkSigMeshLib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>TelinkSigMeshLib.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>TelinkSigMeshLibExtensions.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>252894542468F13400E590F9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2567D7A324B849B60075E7E8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25C0AFD8235D597400846CFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>25CE4E57254A910E004E6F12</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
